**/__pycache__/
**.pyc
**.DS_Store
analysis.sh
stack_plots/**/*.pdf
stack_plots/**/*.png
outputfiles/*.root
outputfiles/*.ipynb
**.ipynb_checkpoints
**.vscode
bdt/notebook/**/*.pt
bdt/notebook/**/*.pth
